* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: orange;
}

h2 {
    color: white;
}

button {
    border: 1px solid orange;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

input {
    padding: 0.5rem;
}

.radius-1 {
    border-radius: 1rem;
}

.border-n {
    border: 1px solid black;
}